:8000 {
	@options {
		method OPTIONS
	}
	handle @options {
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
		header Access-Control-Allow-Headers "*"
		respond 204
	}

	handle /auth/v1/* {
		uri strip_prefix /auth/v1
		reverse_proxy auth:9999
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
		header Access-Control-Allow-Headers "*"
	}

	handle /rest/v1/* {
		uri strip_prefix /rest/v1
		reverse_proxy rest:3000
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
		header Access-Control-Allow-Headers "*"
	}

	handle {
		respond "Pathly backend gateway" 200
	}
}
